<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>doa.filter.SiteFilter</filter-class>
    </filter>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>doa.listener.DBConnectionListener</listener-class>
    </listener>
</web-app>
